openapi: 3.2.0
info:
  title: Highline Payment Requests API
  description: 'Highline is a payment solution enabling direct paycheck deductions

    (pay-by-paycheck). This OpenAPI definition is generated best-effort

    from public docs at https://docs.highline.co/.'
  version: 1.0.0
  contact:
    name: Highline
    url: https://docs.highline.co/
servers:
- url: https://api.highline.co
  description: Production
- url: https://api.sandbox.highline.co
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Payment Requests
paths:
  /payment-requests:
    get:
      tags:
      - Payment Requests
      summary: List Payment Requests
      responses:
        '200':
          description: OK
      operationId: getPaymentRequests
      x-operation-id-source: derived
  /payment-requests/{payment-request-id}:
    get:
      tags:
      - Payment Requests
      summary: Get a Payment Request
      parameters:
      - $ref: '#/components/parameters/PaymentRequestId'
      responses:
        '200':
          description: OK
      operationId: getPaymentRequestsByPaymentRequestId
      x-operation-id-source: derived
    put:
      tags:
      - Payment Requests
      summary: Update a Payment Request
      parameters:
      - $ref: '#/components/parameters/PaymentRequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '200':
          description: OK
      operationId: putPaymentRequestsByPaymentRequestId
      x-operation-id-source: derived
    delete:
      tags:
      - Payment Requests
      summary: Cancel a Payment Request
      parameters:
      - $ref: '#/components/parameters/PaymentRequestId'
      responses:
        '204':
          description: Cancelled
      operationId: deletePaymentRequestsByPaymentRequestId
      x-operation-id-source: derived
  /connections/{connection-id}/payment-requests:
    post:
      tags:
      - Payment Requests
      summary: Create Payment Requests
      parameters:
      - $ref: '#/components/parameters/ConnectionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '201':
          description: Created
      operationId: postConnectionsByConnectionIdPaymentRequests
      x-operation-id-source: derived
  /payment-requests/{payment-request-id}/simulate-due-date:
    post:
      tags:
      - Payment Requests
      summary: Simulate Due Date (sandbox)
      parameters:
      - $ref: '#/components/parameters/PaymentRequestId'
      responses:
        '200':
          description: OK
      operationId: postPaymentRequestsByPaymentRequestIdSimulateDueDate
      x-operation-id-source: derived
components:
  schemas:
    PaymentRequest:
      type: object
      properties:
        connection_id:
          type: string
        amount:
          type: integer
          description: Amount in cents
        currency:
          type: string
          example: USD
        start_date:
          type: string
          format: date
        due_date:
          type: string
          format: date
  parameters:
    ConnectionId:
      name: connection-id
      in: path
      required: true
      schema:
        type: string
    PaymentRequestId:
      name: payment-request-id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
