openapi: 3.2.0
info:
  title: Highline Users API
  description: 'Highline is a payment solution enabling direct paycheck deductions

    (pay-by-paycheck). This OpenAPI definition is generated best-effort

    from public docs at https://docs.highline.co/.'
  version: 1.0.0
  contact:
    name: Highline
    url: https://docs.highline.co/
servers:
- url: https://api.highline.co
  description: Production
- url: https://api.sandbox.highline.co
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Users
paths:
  /users/{user-id}:
    get:
      tags:
      - Users
      summary: Get A User
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      operationId: getUsersByUserId
      x-operation-id-source: derived
  /users/match:
    post:
      tags:
      - Users
      summary: Check User Eligibility
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                phone:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
      responses:
        '200':
          description: OK
      operationId: postUsersMatch
      x-operation-id-source: derived
  /users/simulate-identity:
    post:
      tags:
      - Users
      summary: Simulate a new user identity (sandbox)
      responses:
        '200':
          description: OK
      operationId: postUsersSimulateIdentity
      x-operation-id-source: derived
  /users/{user-id}/simulate-incoming-transfer:
    post:
      tags:
      - Users
      summary: Simulate Receiving Payroll Deposit (sandbox)
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: OK
      operationId: postUsersByUserIdSimulateIncomingTransfer
      x-operation-id-source: derived
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
  parameters:
    UserId:
      name: user-id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
